* {
    box-sizing: border-box;
}  

body{
    margin: 0;
    padding: 0;
    font-family:"Inter";
    height: 100vh;
    width: 100vw;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    height: 30vh;
    background-size: cover;
    background-position: center 22%;
    background-repeat: no-repeat;
    background-image: url("./img/navback.jpg");
    background-color: #000000a6;
    background-blend-mode: multiply;
    color: white;
    padding: 0 45px;
}


h1{
    margin: 0;
}

header a{
    text-decoration: none;
    color: white;
}

form{
    margin: -0.75em;
    display: flex;
    align-items: center;
    justify-content: center;
}

form button, input{
    background: #F9FAFB;
    border: 1px solid #D1D5DB;
    box-sizing: border-box;
    border-radius: 0px 6px 6px 0px;
    padding: 0.5em 2em;
}

input{
    border-radius: 6px 0px 0px 6px;
    padding-right: 16em;
    background-image: url(./img/serch.png);
    background-repeat: no-repeat;
    background-position: 0.5em center;
    /* text-align: center; */
}


form button{
    cursor: pointer;
}

main, .main-watchlist{
    max-width: 700px;
    margin: 3em auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.starting-pag{
    height: 70vh;
    max-width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.starting-pag h2{ 
    color: #DFDDDD;

}

main h2{
    margin: 0;
    max-width: 550px;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: black;
}

.movie{
    height: 25vh;
    display: flex;
    justify-content: space-between;
    margin: 1em 3em;
    padding-bottom: 2em;
    border-bottom: solid 1px #DFDDDD;
}

.movie img{
    height: 100%;
    /* max-width: 100%; */
}

.info{
    width: 75%;
}

.f-line{
    display: flex;
    align-items: center;
    font-weight: 800;
    /* background-color: aqua; */
}

.f-line h2{
    margin-right: 1em ;
    font-weight: 500;
}

.rating{
    font-size: 0.8em;
    margin-left: 0.3em;
}

.s-line{
    display: flex;
    align-items: center;
    /* background-color: aquamarine; */
    font-size: 0.8em;
    justify-content: space-between;
    padding-right: 9em;
    font-weight: 500;

}

.add-remove{
    display: flex;
    cursor: pointer;
    border: none;
    background: none;
}

.s-line img{
    margin-right: 0.5em;
}

.description{
    margin:0;
    color: #6B7280;
    font-size: .9em;
    text-overflow: ellipsis;
}

a{
    text-decoration: none;
    color: inherit;
}